#tracking_menu.menu
  #time_period.btn-group
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        Show all weeks
        %span.glyphicon.glyphicon-chevron-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Show 5 weeks
  #display.btn-group.pull-right
    %button.btn.btn-active.btn-left-border.btn-default.pull-right{:type => "button"}
      %span.glyphicon.btn-active.glyphicon-calendar
