<div id="tracking_menu" class="menu">
	<!-- SELECT TIME PERIOD -->
	<div id="time_period" class="btn-group">

	  <div class="btn-group">
	  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Show all weeks
	      <span class="glyphicon glyphicon-chevron-down"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li>
	      	<a href="#">Show 5 weeks</a>
	    	</li>
	    </ul>
	  </div><!--/btn-group-->

	 </div><!--/time_period-->

  <!-- DISPLAY -->
	<div id="display" class="btn-group pull-right">
	 	<button type="button" class="btn btn-active btn-left-border btn-default pull-right">
	  	<span class="glyphicon btn-active glyphicon-calendar"></span>
	 	</button>
	</div><!--/.btn-group-->

 
</div><!--/#tracking_menu-->