= render partial: 'partials/pact_menu'
.content
  -if @users
    %table
      %thead
        %tr
          %th.border-right{rowspan:2} Name
          %th.border-right.week-header{colspan:7}
            - if @previous_week
              =link_to pact_week_path(@pact, @previous_week), class: "week-button-previous" do
                %span.glyphicon.glyphicon-chevron-left
            - else
              .week-button-previous
            %span.week-button-number
              Week
              = @week.week_number
              %br
              %small
                = @week.start_date.strftime("%b %e")
                to
                = @week.end_date.strftime("%b %e")
            - if @next_week
              =link_to pact_week_path(@pact, @next_week), class: "week-button-next" do
                %span.glyphicon.glyphicon-chevron-right
            - else
              .week-button-next
          %th{colspan:3} Total At End Of Week
        %tr
          %th Goal Days
          %th Workouts
          %th Missed
          %th.border-right Bonus Days
          %th Owed
          %th Paid
          %th.border-right Penalty Total
          %th Workouts
          %th Missed
          %th Penalty
      %tbody
        -@users.each do |user|
          %tr
            %td.border-right
              =user.username
            %td.border-right
            %td
            %td
            %td.border-right
            %td
            %td.border-right
            %td.border-right
            %td
            %td
            %td
      %tfoot
        %tr
          %td.border-right
            Total
            %br
            %small
          %td
          %td
          %td
          %td.border-right
          %td
          %td
          %td.border-right
          %td
          %td
          %td