<div id="week_wrapper" class="show">

	<%= render 'week/menu' %>
	
	<div id="week">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class="name">Name</th>
						<th class="day monday">Mon</th>
						<th class="day tuesday">Tue</th>
						<th class="day wednesday">Wed</th>
						<th class="day thursday">Thu</th>
						<th class="day friday">Fri</th>
						<th class="day saturday">Sat</th>
						<th class="day sunday">Sun</th>
						<th class="summary total">Completed</th>
						<th class="summary goal">Goal</th>
						<th class="summary left">Left</th>
						<th class="summary bonus">Bonus</th>
						<th class="summary charge">Owed</th>
					</tr>
				</thead>


				<!-- 
				Put your "for" loop here 
				"For every user in @current_pact's list of users"
				-->
				<tr>
					<td class="name">Name</td>
					<td class="day monday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day tuesday"><span class="glyphicon glyphicon-remove-sign"></span></td>
					<td class="day wednesday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day thursday"></td>
					<td class="day friday"></td>
					<td class="day saturday"></td>
					<td class="day sunday"></td>
					<td class="summary total">-</td>
					<td class="summary goal">-</th>
					<td class="summary left">-</td>
					<td class="summary bonus">-</td>
					<td class="summary charge">$-.--</td>
				</tr>
				<tr>
					<td class="name">(Ex) Cynthia Koo</td>
					<td class="day monday">
						<span class="glyphicon glyphicon-ok-sign"></span>
					</td>
					<td class="day tuesday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day wednesday"><span class="glyphicon glyphicon-remove-sign"></span></td>
					<td class="day thursday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day friday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day saturday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day sunday"></td>
					<td class="summary total">5</td>
					<td class="summary goal">6</th>
					<td class="summary left">4</td>
					<td class="summary bonus">0</td>
					<td class="summary charge ">$5.00</td>
				</tr>
				<tr>
					<td class="name">(Ex) Ellen Liu</td>
					<td class="day monday">
						<span class="glyphicon glyphicon-ok-sign"></span>
					</td>
					<td class="day tuesday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day wednesday"></td>
					<td class="day thursday"><span class="glyphicon glyphicon-ok-sign"></span></td>
					<td class="day friday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day saturday"><span class="glyphicon glyphicon-question-sign"></span></td>
					<td class="day sunday"></td>
					<td class="summary total">2</td>
					<td class="summary goal">4</th>
					<td class="summary left">4</td>
					<td class="summary bonus">0</td>
					<td class="summary charge ">$5.00</td>
				</tr>

				<tr class="total">
					<td class="name">Total</td>
					<td class="day monday">5</td>
					<td class="day tuesday">12</td>
					<td class="day wednesday">10</td>
					<td class="day thursday">3</td>
					<td class="day friday">7</td>
					<td class="day saturday">3</td>
					<td class="day sunday">4</td>
					<td class="summary total">2</td>
					<td class="summary goal">6</th>
					<td class="summary left">4</td>
					<td class="summary bonus">0</td>
					<td class="summary charged">$15.50</td>
				</tr>
				
			</table>
		</div>







	</div><!--/week-->
</div><!--/#week_wrapper-->