= render partial: 'partials/pact_menu'
.content
  %table
    %thead
      %tr
        %th Full Name
        %th Username
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td
            =user.first_name
            =user.last_name
          %td
            =user.username
          %td
            = link_to 'Edit User', edit_admin_user_path(user)