<table>
  <thead>
    <tr>
      <th>Pact ID</th>
      <th>Pact Name</th>
      <th>User ID</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="pact-user-relation-id">
        <%= @pact_user_relation.pact_id %>
      </td>
      <td>
      <!-- pact name logic -->
        <% for pact in Pact.where(id: @pact_user_relation.pact.id)%>
          <%= pact.pact_name %>
        <% end %>
      </td>
    
      <td>
        <!-- user name logic -->  
        <% if @pact_user_relation.user_id == nil %>

        <% else %>
          <%= @pact_user_relation.user_id %>
        <% end %>
      </td>   
      <td></td>
    </tr>
    
  </tbody>
</table>