<h1>Here's a list of all the pacts</h1>
<h3><%= link_to 'New Pact', new_pact_path %></h3>

<table>
  <thead>
    <tr>
      <th>Start Dates</th>
      <th>End Dates</th>
      <th>Active?</th>
    </tr>
  </thead>

  <tbody>
    <% @pact.each do |pact| %>
      <tr>
        <td><%= pact.start_date %></td>
        <td><%= pact.end_date %></td>
        <td><%= pact.is_active %></td>
      </tr>
      <% end %>
  </tbody>
</table>