
.content
  %h1 Users

  - if @users
    %table
      %thead
        %tr
          %th{rowspan: 2} User
          %th{colspan: 6} Total To Date
        %tr 
          %th Goal Days
          %th Days Worked Out
          %th Missed Days
          %th Bonus Days
          %th Penalty Paid
          %th Penalty Owed
      %tbody
        -@users.each do |user|
          %tr
            %td= user.username
            %td
            %td
            %td
            %td
            %td
            %td