#home_wrapper
  .container-fluid
    .row
      - if @active_pacts
        - @active_pacts.each do |pact|
          .align-center.col-lg-6
            = link_to pact.name, chat_week_path(pact, pact.get_current_week), class: 'btn btn-active btn-default'
      - else
        Create pact