<div id="home_wrapper">

	<!-- "container-fluid", "row", and "col-lg-6" are Bootstrap grid classes: http://getbootstrap.com/css/#grid -->
	<div class="container-fluid">
		<div class="row">

<%
=begin %>
			<% # "For each 'pact' in the list of objects '@pacts', do... %>
			<% @active_pacts.each do |pact| %>
				<div class="align-center col-lg-6">
					<%= link_to pact.name, chat_week_path(pact, pact.get_current_week), class: 'btn btn-active btn-default' %> 
				</div>
			<% end %>
<%
=end %>
		</div><!--/.row-->
	</div><!--/.container-fluid-->

</div><!--/#home_wrapper-->