<div class="home-container">

	<% @pacts.each do |pact| %>
     <%= link_to pact.name, chat_week_path(pact, pact.get_current_week), class: 'home-pact-button' %> 
  <% end %>
	
</div><!--/#home_wrapper-->