#home_wrapper
  .container-fluid
    .row
      - if @active_pacts
        - @active_pacts.each do |pact|
          .align-center.col-lg-6
            = link_to pact.name, pact_path(pact), class: 'btn btn-active btn-default'
      - else
        Create pact