
	<% if true %>
	<% # if in editing mode %>
	<div class="form-row name container-fluid">
		<label class="col-md-1">
			<span class="glyphicon glyphicon-user"></span>
			</label>
		<span class="input col-md-10">
			Cynthia Koo
		</span>
		<span class="input col-md-1 input">
			<span class="edit-workout glyphicon glyphicon-pencil"></span>
		</span>
	</div>

	<div class="form-row date container-fluid">
		<label class="col-md-1">
			<span class="glyphicon glyphicon-calendar"></span>
		</label>
		<span class="input col-md-11">
			April 2, 2014 at 5:20PM
		</span>
	</div>

	<div class="form-row workout_tags container-fluid">
		<label class="col-md-1">
			<span class="glyphicon glyphicon-tags"></span>
		</label>
		<span class="input col-md-11">
			crossfit, run
		</span>
	</div>

	<div class="form-row workout container-fluid">
		<label class="col-md-1">
			<span class="glyphicon glyphicon-file"></span>
		</label>
		<span class="input col-md-11">
			notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes notes
		</span>
	</div>


	<div class="form-row buttons">
	  <button type="button" class="btn btn-default btn-add btn-block">
			+ Copy workout to another person</span>
		</button>
	  <button type="button" class="btn btn-default btn-block btn-red">THIS IS NOT A WORKOUT!</button>
	</div>


<% else %>
	<% # clicking the pencil icon should hide the above section and bring up this section %>
	<div class="form-row name container-fluid">
		<label class="col-md-1">
			<span class="glyphicon glyphicon-user"></span>
			</label>
		<span class="input col-md-11">
			<select>
			  <option>Cynthia Koo</option>
			  <option>Cindy Guan</option>
			  <option>Will Su</option>
			</select>
		</span>
	</div>

	<div class="form-row date container-fluid">
		<label class="col-md-1">
			<span class="glyphicon glyphicon-calendar"></span>
		</label>
		<span class="input col-md-11">
			<select class="date-item month">
			  <option>April</option>
			  <option>May</option>
			  <option>June</option>
			</select>
			<select class="date-item day">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			</select>
			<select class="date-item year">
			  <option>2014</option>
			  <option>2015</option>
			  <option>2016</option>
			</select>
			<select class="date-item hour">
			  <option>5</option>
			  <option>6</option>
			  <option>7</option>
			</select>
			<select class="date-item minute">
			  <option>01</option>
			  <option>02</option>
			  <option>03</option>
			</select>
			<select class="date-item time_of_day">
			  <option>PM</option>
			  <option>AM</option>
			</select>
		</span>
	</div>

	<div class="form-row workout_tags container-fluid">
		<label class="col-md-1">
			<span class="glyphicon glyphicon-tags"></span>
		</label>
		<span class="input col-md-11">
			<input type="text" class="tags" placeholder="What kind of workout was it?">
		</span>
	</div>

	<div class="form-row workout container-fluid">
		<label class="col-md-1">
			<span class="glyphicon glyphicon-file"></span>
		</label>
		<span class="input col-md-11">
			<textarea placeholder="Notes"></textarea>
		</span>
	</div>


	<div class="form-row buttons">
	  <button type="button" class="btn btn-default btn-add btn-block">
			+ Copy workout to another person</span>
		</button>
	  <button type="button" class="btn btn-default btn-block btn-blue">SAVE</button>
	  <button type="button" class="btn btn-default btn-block btn-red">THIS IS NOT A WORKOUT!</button>
	</div>

<% end %>