@import "partials/variables";


img.avatar {
	width: 50px; height: auto;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
}

/**** BUTTONS ***************************/
.btn-blue {
	border: 0;
	color: #fff;
	background: $blue;
	&:hover {
		background: #66C4D9; 
		color: #fff;
	}
}

.btn-red {
	border: 0;
	color: #fff;
	background: #BB5A5A;
	&:hover {
		background: #A54343; 
		color: #fff;
	}
}


