@import "partials/variables";

.home-container {
	padding: 100px 50px;
	text-align: center;
}

.home-pact-button{
	display: inline-block;
	padding: 50px 80px;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	font-size: 3rem;
	border: 0;
	border-radius: 10px;
	background: $blue;
	overflow: auto;
	margin: 0;
	color: #fff;

	&:hover {
		text-decoration: none;
		opacity: 0.85;
		color: #ffffff;
	}
}