/* Defining colors */
$blue: #5CB1C4;
$lightblue: #DAF8FF;
$bglightgray: #F7F7F7;
$grayborder: #DCDEDD;
$gray-light: #A2A5AE;
$green: #4D9666;
$red: #BB5A5A;

/* Importing Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Lato:300,400,700,900|Open+Sans:400,300);

/* Changing the styling of the body text
See: http://getbootstrap.com/customize */
$text-color: #636A7A;
$line-height-base: 1.8;
$font-family-sans-serif: "Source Sans Pro";
$font-size-base: 14px;
$font-size-h1: 3em;


/* Changing the color of link text
See: http://getbootstrap.com/customize */
$brand-primary: $blue;

/* Changing the color of header text
See: http://getbootstrap.com/customize */
$headings-font-family: 'Source Sans Pro';
$headings-font-weight: 300;


/* Padding between columns in grid */
$grid-gutter-width: 0px;


/************************************************* 
LAYOUT:
Setting a fixed/sticky left sidebar that takes up 
the entire vertical window
**************************************************/

body {
  background: #F0F0F0;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}


#sidebar-wrapper { 
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #1D2027;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1500;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.page-content .col-md-12{
  padding-top: 26px;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
}

.page-content .container-fluid .row {
  margin-top: 30px;
}