@import "partials/variables";


/************************************************* 
LAYOUT:
Setting a fixed/sticky left sidebar that takes up 
the entire vertical window
**************************************************/
* {
  box-sizing: border-box;
}
body {
  background: #F0F0F0;
}
body, html, .wrapper {
  overflow: auto;
  height: 100%;
  width: 100%;
}
.wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
  overflow: auto;
  height: 100%;
}
.sidebar-wrapper { 
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #1D2027;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1500;
  transition: all 0.4s ease 0s;
}
.page-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.content {
  clear: both;
  overflow: auto;
  height: 100%;
}
.content-alerts {
  margin-top: 30px;
}
.content, .content-body, #chat_wrapper {
  overflow: auto;
  height: 100%;
}