@import "partials/variables";


/************************************************* 
SIDEBAR
**************************************************/

.sidebar {
  background: #1D2027;
}
.sidebar-logo {
  text-align: center;
  height: 100px;
  padding-top: 30px;
  background: $blue;
}
.sidebar-logo-link {
  text-decoration: none;
  display: block;
  color: #DAF8FF;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-size: 25px;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
    color: #DAF8FF;
  }
  span {
    color: #fff;
  }
}

/******************* MENU *******************/
.sidebar-pact {
  padding: 35px 0 25px 0;
}
.sidebar-pact-active {
  background: #262A32;
}
.sidebar-pact-title {
  font-size: 11px;
  color: #7F8694;
  display: block;
  padding: 0px 25px 15px 25px;
  text-transform: uppercase;
  font-weight: bold;
}
.sidebar-pact-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar-pact-menu-item-link {
  display: block;
  width: 100%;
  margin: 0;
  padding: 15px 25px 15px 20px;
  border-left: 5px solid transparent;
  color: #7F8694;
  text-decoration: none;
}
.sidebar-pact-menu-item-link:hover,
.sidebar-pact-menu-item-link:active,
.sidebar-pact-menu-item-link:focus {
  color: #ffffff;
  text-decoration: none;
  background: #383D46;
  border-left: 5px solid $blue;
}
.sidebar-glyphicon {
  margin-right: 10px;
}