@import "partials/variables";

/************************************************* 
SIDEBAR
**************************************************/

.sidebar {
  background: #1D2027;
}
.sidebar-logo {
	height: 100px;
  padding-top: 29px;
	background: $blue;
}
.sidebar-logo-link,
.sidebar-logo-link:active,
.sidebar-logo-link:focus {
  display: block;
  color: #DAF8FF;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-size: 25px;
  &:hover {
    color: #DAF8FF;
    text-decoration: none;
    opacity: 0.5;
  }
  span {color: #fff;}
}

/* PACTS ***************************************/
.sidebar-pacts {
}
.sidebar-pact{
  padding: 30px 0 25px;
}
.sidebar-pact-active {
  background: #262A32;
}
.sidebar-pact-name {
  font-size: 11px;
  color: #7F8694;
  display: block;
  padding: 10px 25px 15px 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar-pact-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-pact-menu-item {
  margin: 0;
}
.sidebar-pact-menu-item-link,
.sidebar-pact-menu-item-link:focus,
.sidebar-pact-menu-item-link:active {
  display: block;
  color: #7F8694;
  padding: 12px 25px 12px 20px;
  border-left: 5px solid transparent; 
  &:hover {
    text-decoration: none;
    background: #383D46;
    border-left: 5px solid $blue;
    color: #ffffff;
  }
}
  .sidebar-pact-menu-item-active {
    background: #ffffff;
  }
.sidebar-pact-menu-item-glyphicon {
  margin-right: 10px;
}


/* GROUPS ***************************************/
  ul.nav > li.active > a{
    background: transparent;
    border-left: 5px solid $blue;
    color: #fff;

    &:hover {
      background: #383D46;
      border-left: 5px solid $blue;
      color: #fff;
    }
  }