@import "partials/variables";

.steps {
  clear: both;
  width: 800px;
  margin: 0 auto 20px auto;
  overflow: hidden;
}
.steps-step {
  float: left;
  display: inline-block;
  width: 200px;
  text-align: center;
  background-repeat: repeat-x;
  background-position: center center;
  background-image: image-url('background/bg-gray.png');
  &:first-child {
    background-repeat: no-repeat;
    background-position: right center;
  }
  &:last-child {
    background-repeat: no-repeat;
    background-position: left center;
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

/******* CIRCLE ******************/
.steps-step-circle {
  display: block;
  margin-bottom: 5px;
}
.steps-step-circle-img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 5px solid $border-gray;
  margin: auto;
  background: #ffffff;
}
/******* TEXT ******************/
.steps-step-number {
  color: $gray-light;
  margin-bottom: 5px;
}
.steps-step-label {
  color: $gray-light;
}

/******* ACTIVE ******************/
.steps-step-active {
  background-image: image-url('background/bg-blue-gray.png');
}
.steps-step:first-child.steps-step-active {
  background-image: image-url('background/bg-gray.png');
}
.steps-step:last-child.steps-step-active {
  background-image: image-url('background/bg-blue.png');
}
.steps-step-active .steps-step-circle-img {
  border: 5px solid $blue;
}
.steps-step-active .steps-step-number,
.steps-step-active .steps-step-label {
  color: $blue;
}

/******* DONE ******************/
.steps-step-done {
  background-image: image-url('background/bg-blue.png');
}
.steps-step-done .steps-step-circle-img {
  background: $blue;
  border: 5px solid $blue;
}
.steps-step-done .steps-step-number,
.steps-step-done .steps-step-label {
  color: $blue;
}