@import "partials/variables";

/************************************************* 
FONT STYLES
**************************************************/
a, button, input, select, textarea {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}


a {
  text-decoration: none;
  color: $blue;
}
