<h1>Penalties#index</h1>
<p>Find me in app/views/penalties/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>Goal Days</th>
      <th>Penalties</th>
    </tr>
  </thead>

  <tbody>
    <% @penalties.each do |penalty| %>
      <tr>
        <td>
          <% if penalty.goal_days.nil? %>
            nil
          <% else %>
          <%= penalty.goal_days %>
          <% end %>
          </td>
        <td>
          <% if penalty.penalty.nil? %>
            nil
          <% else %>
            <%= penalty.penalty %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>