<h1>Goals#index</h1>
<p>Find me in app/views/goals/index.html.erb</p>


<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Pact ID</th>
      <th>Goal</th>
      <th>Week</th>
    </tr>
  </thead>
  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.user_id %></td>
        <td><%= goal.pact_id %></td>
        <td><%= goal.goal %></td>
        <td><%= goal.week %></td>

      </tr>
    <% end %>
  </tbody>
</table>