.content
  %h1 Goals
  / = render 'form'
  = link_to 'Edit Goal', edit_pact_goal_path
  %table
    %thead
      %td User
      %td Goals
    %tbody
      %tr
        %td= @goal.user.username
        %td= @goal.goal_days

