@import "partials/variables";

.home-pact {
	display: inline-block;
	border-radius: 5px;
	float: left;
	width: 50%;
	overflow: auto;
	padding-bottom: 5px;
	padding-right: 5px;
	&:nth-child(2n+2) {
		padding-right: 0;
	}
}
.home-button {
	display: block;
	text-align: center;
	border-radius: 5px;
	width: 100%;
	padding: 70px 50px 60px 50px;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	font-size: $font-size-h1;
	&:hover, &:active, &:focus {
		text-decoration: none;
	}
	&:hover {
		opacity: 0.85;
	}
}
.home-button-glyphicon {
	display: block;
	margin-bottom: 20px;
}
.home-button-pact {
	color: #fff;
	background-color: $blue;
	background-repeat: no-repeat;
	background-position: center 60px;
	&:hover, &:active, &:focus {
		color: #ffffff;
	}
	&:active {
		box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.15);
	}
}
.home-button-add {
	color: #C7C8CB;
  background: transparent;
  border: 1px dashed #C7C8CB;

  font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	font-size: $font-size-h1;
	&:hover, &:active, &:focus {
		border: 1px dashed $gray-light;
  	color: $gray-light;
	}
	&:active {
		box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.15);
	}
}