.pact-upload-file {
  margin-top: 10px;
  margin-bottom: 30px;
}

.thumb{
  img{
    width: 100px;
    height: 100px;
  }
  display: inline-block;
}

.pact-photo-form{
  border: 0px;
  thead {
    border: 0px;
  }
  tr {
    border: 0px;
  }
  td {
    border: 0;
    width: 300px;
    padding: 10px 20px 10px 20px;
  }
}