/* Defining colors */
$blue: #5CB1C4;
$lightblue: #DAF8FF;
$bglightgray: #F7F7F7;
$grayborder: #DCDEDD;
$gray-light: #A2A5AE;
$green: #4D9666;
$red: #BB5A5A;

/* Importing Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Lato:300,400,700,900|Open+Sans:400,300);

/* Changing the styling of the body text
See: http://getbootstrap.com/customize */
$text-color: #636A7A;
$line-height-base: 1.8;
$font-family-sans-serif: "Source Sans Pro";
$font-size-base: 14px;
$font-size-h1: 3em;


/* Changing the color of link text
See: http://getbootstrap.com/customize */
$brand-primary: $blue;

/* Changing the color of header text
See: http://getbootstrap.com/customize */
$headings-font-family: 'Source Sans Pro';
$headings-font-weight: 300;


/* Padding between columns in grid */
$grid-gutter-width: 0px;


#tracking_wrapper {
	#tracking {

		/* TABLE COLUMNS */
		.table {
			th.name, td.name {
					text-align: left; padding-left: 30px;
				}
			.name, .total, .missed, .goal, .charge, .paid {
				border-right: 1px solid $grayborder;
			}

			thead th.week {
				padding-top: 5px !important;
				padding-bottom: 5px !important;
			}

			th.dates {
				border-bottom: 1px solid $grayborder;}
			.owed, .completed, .dates 
			{border-right: 1px solid $grayborder;}

		}/*.table*/


	}/*tracking*/
}/*#tracking_wrapper*/