@import "partials/variables";

#tracking_wrapper {
	#tracking {

		/* TABLE COLUMNS */
		.table {
			th.name, td.name {
					text-align: left; padding-left: 30px;
				}
			.name, .total, .missed, .goal, .charge, .paid {
				border-right: 1px solid $border-gray;
			}

			thead th.week {
				padding-top: 5px !important;
				padding-bottom: 5px !important;
			}

			th.dates {
				border-bottom: 1px solid $border-gray;}
			.owed, .completed, .dates 
			{border-right: 1px solid $border-gray;}

		}/*.table*/


	}/*tracking*/
}/*#tracking_wrapper*/