<%
=begin
Partial for showing flash messages. Used for showing flash messages near the forms or UI elements of interest where there is user action. This snippet does not show the flash messages from the application.html.erb layout
=end %>

<% if not @messages_rendered %>
  <% if flash[:error] %>
    <p class='error'><%=h flash[:error] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class='notice'><%=h flash[:notice] %></p>
  <% end %>
<% end %>
<% @messages_rendered = true %>
