#header.text-right
  = link_to raw("<span class='glyphicon glyphicon-cog'></span>"), admin_root_path, :target => "_blank"
  = link_to raw("<span class='glyphicon glyphicon-file'></span>"), "https://docs.google.com/document/d/1px1SxXyGsy_x7P1YAYSug9dBZLGGOP7Zlt764EAR_Xs/edit?usp=sharing", :target=> "_blank"
  = link_to raw("<span class='glyphicon glyphicon-gift'></span>"), happybirthday_path