#sidebar
  #logo.text-center
    = link_to raw("Gym<span>Pact</span>"), root_path
  

  - if @active_pacts
    - @active_pacts.each do |pact|
      .group-wrapper
        %span.title= pact.name
      %ul.nav.nav-pills.nav-stacked
        %li
          =link_to chat_week_path(pact, pact.get_current_week), class: 'chat' do
            %span.glyphicon.glyphicon-comment WhatsApp
        %li
          =link_to tracking_path(pact), class: 'tracking' do
            %span.glyphicon.glyphicon-user Tracking

        %li
          =link_to week_week_path(pact, pact.get_current_week), class: 'week' do
            %span.glyphicon.glyphicon-calendar Weeks
        %li
          = link_to new_admin_chat_path, class: 'upload' do
            %span.glyphicon.glyphicon-plus Upload Chat
  - else
    .group-wrapper
    %ul.nav.nav-pills.nav-stacked
      %li
        = link_to 'New Pact', new_pact_path
